footer{
    background-color: #344A57;
    p{
        font-size: 14px;
        color: rgb(204, 194, 194);
    }
    i{
        color: #8B0000;
        font-size: 15px;
        background-color: #fff;
        padding: 5px;
        border-radius: 50%;
    }
    h4{
        color: #fff;
    }
    a, span{
        font-size: 14px;
        color: rgb(204, 194, 194);
    }
    a:hover{
        color: #8B0000;
    }
}