.direct-contact{
    background: #5b717e;
    color: #fff;
    p{
        font-size: 17px;
        color: rgb(204, 194, 194);
    }
    i{
        color: #8B0000;
        font-size: 16px;
        background-color: #fff;
        padding: 5px;
        border-radius: 50%;
    }
    h4{
        color: #fff;
    }
    a, span{
        font-size: 16px;
        color: rgb(204, 194, 194);
    }
}
